* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Crimson Text', 'serif';
    font-size: 24px;
    background: #871282;
    color: #ffa535;
    padding: 5% 10%;
}

.container {
    max-width: 90%;
    margin: auto;
}

.custom-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    background-image: url('../images/fox.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px; /* Ensure a minimum height */
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

a, h1 a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}

h1 a:hover {
    color: #8C8C8C;
}

.wordmark {
    font-size: 1.5em;
}

.navbar {
    font-size: 1em;
    font-weight: 300;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: #e33d3d;
    padding: 10px 15px;
    display: block;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #8C8C8C;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
}

section {
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: auto;
}

.head-and-info h2 {
    font-size: 1.5em;
}

.work-history {
    font-size: 0.75em;
    font-weight: 100;
    max-width: 50%;
    flex: 1;
    padding-top: 2%;
    padding-bottom: 2%;
}

.contact-cta h2 {
    font-size: 1.5em;
}

.contact-cta p {
    font-size: 0.8em;
    margin-top: 5%;
}

/* Example of a media query for smaller screens */
@media (max-width: 600px) {
    header {
        flex-direction: column; /* Stack items vertically */
    }

    .navbar li {
        display: block; /* Display links as blocks for better spacing */
        margin-bottom: 10px; /* Add some spacing between links */
    }
}
